.box-img img{
   
	width: 450px;
	height:300px;
	box-shadow: 0 20px 20px rgba(0,0,0,0.5);
	margin: 40px 20px 20px 30px;
	border-radius: 10px;
}


.box-cont {
    margin-top: 50px;
   margin-left: 200px;
    width: 1250px;
    height: 800px;
    text-align: center;
    display: flex;
}