.InsertData {
    background-image: url(../images/FotoJet.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.InsertData h1 {
    color: #ffffff;
}

.InsertData h2 {
    color: #ffffff;
}

.InsertData li {
    color: #ffffff;
}